.wrapper-padding{
padding: 1% 1% 1% 1% ;
}
.table-img{
	width:60px;
	height:auto;
}

#imgpreview{
	border: none;
	object-fit: cover;
	width: 60%;
	height: 320px;

}


.photoshow{
	
	object-fit: cover;
	width: 100%;
	height: 200px;
	
}

